<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @passenger.name %>. Your flight has been booked!</h1>
    <p>Enjoy your trip!</p>
    <p>🌎</p>
  </body>
</html>
